.conversion-container {
    margin: 2rem 0.5rem;
}

.field {
    border: 0.125rem solid #9ca3af;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.base {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
    padding-bottom: 3rem;
}

.quote {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: none;
    padding-top: 3rem;
}

.switch {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #04203c;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -1.5rem;
    left: 4.5rem;
    cursor: pointer;
}

.switch-icon {
    color: #FFFFFF;
    font-size: 1.75rem;
}

.rate {
    position: absolute;
    bottom: 0.1rem;
    right: 1.5rem;
}