.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.125rem solid #04203c;
    height: 3.625rem;
    padding: 0 0.75rem;
}

.input {
    font-size: 1rem;
    width: 100%;
    outline: none;
}

.icon {
    /* position: absolute;
    top: 0.8rem;
    right: 1rem; */
    font-size: 2rem;
    cursor: pointer;
}